{% extends "base.html" %}
    {% block css %}<link href="userprofile.css" rel="stylesheet" >{% endblock %}
    {% block title %}ユーザー情報{% endblock %}
{% block content %}
    <div class="userinfo">
        <div class="container">
            <div class="user">
                <h3>ユーザー情報</h3>
                {{username}}
                <div class="change">
                    <a href="#" style="text-decoration: none;" class="login-btn">登録情報の変更</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="scoreinfo">
                <div class="rireki">
                    <h3>スコア情報</h3>
                    <h4>最低蛙化度</h4>
                    <br>
                    デートの誘い方編：{{min_rate_invite}}%<br>
                    デート中編:{{min_rate_date}}%<<br>
                    告白前のデート編:{{min_rate_confession}}%<br>
                    <h4>最高蛙化度</h4>
                    デートの誘い方編：{{max_rate_invite}}%<br>
                    デート中編:{{max_rate_date}}%<<br>
                    告白前のデート編:{{max_rate_confession}}%<br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
