/*全体*/
body {
    margin: 0;
    font-family: "sans-serif";
}

a {
    color: rgb(63, 159, 63);
    text-decoration: none;
}

/*ヘッダー*/

header {
    height: 45px;
    width: 100%;
    border-top: 2px solid #34b792;
    border-bottom: 2px solid #34b792;
    background-color: #FFFEF9;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.logo {
    float: left;
    width: 130px;
    padding-left: 20px;
    padding-top: 5px;
    
}

.header-right a {
    float: right;
    line-height: 35px;
    margin: 5px 0;
    padding:0 25px;
    display: block;
    transition:all 0.5s;
    border-left: 2px dotted #34b792;
}

/*フッター*/
footer {
    border-top: 1px solid #34b792;
    background-color: #FFFEF9;
}

.footer-contents {
    text-align: center;
}

.footer-contents li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 5px;
    list-style: none;
}

.footer-contents li+ li {
    border-left: 1px dotted #34b792;
}

.footer-wrapper p {
    font-size: 15px;
    color: gray;
    text-align: center;
}