/*全体*/
body {
    margin: 0;
    font-family: "sans-serif";
}

a {
    color: blue;
    text-decoration: none;
}

/*ヘッダー*/

header {
    height: 45px;
    width: 100%;
    border-top: 2px solid #34b792;
    border-bottom: 2px solid #34b792;
    background-color: #FFFEF9;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.logo {
    float: left;
    width: 130px;
    padding-left: 20px;
    padding-top: 5px;
    
}

.header-right a {
    float: right;
    line-height: 35px;
    margin: 5px 0;
    padding:0 25px;
    display: block;
    transition:all 0.5s;
    border-left: 2px dotted #34b792;
}

/*トップ*/
.top-wrapper {
    padding-top: 150px;
    padding-bottom: 100px;
    background-image: url(../images/kaeruLogin.webp);
    background-color: rgba(250, 235, 215, 0.65);
    background-blend-mode: lighten;
    background-size: cover;
    height: fit-content;
    width: 100%;
}

.top-container {
    background-color: #FFFEF9;
    border: 2px solid #a7a7aa;
    border-radius: 5px;
    box-shadow: 0 2px 2px 2px rgb(220, 206, 188);
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    padding: 20px;
}

.top-text {
    font-family: "筑紫B丸ゴシック";
    text-align: center;
    padding: 5px 10px;
    margin: 0 auto;
    height: fit-content;
}

.logo-login {
    display: block;
    height: fit-content;
    width: 250px;
    margin: 0 auto;
}


.top-username {
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 10px;
    height: fit-content;
    width: 410px;
}

.top-username .text {
    font-family: "筑紫B丸ゴシック";
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 13px;
    height: fit-content;
    width: 100%;
}

.top-username input {
    border-radius: 10px;
    border: 1px solid #a7a7aa;
    width: 400px;
    height: 35px;
    padding-left: 5px;
    font-size: 15px;
}

.top-username input:focus {
    outline: 0;
    border: 1px solid #99dde7;
}

.top-address {
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 10px;
    height: fit-content;
    width: 410px;
}

.top-address .label {
    font-family: "筑紫B丸ゴシック";
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 13px;
    height: fit-content;
    width: 100%;
}

.top-address input {
    border-radius: 10px;
    border: 1px solid #a7a7aa;
    width: 400px;
    height: 35px;
    padding-left: 5px;
    font-size: 15px;
}

.top-address input:focus {
    outline: 0;
    border: 1px solid #99dde7;
}

.login-btn {
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    text-align: center;
    padding: 10px;
    width: 150px;
    color: #fff;
    background-color: #34b792;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 30px;
}

.login-btn:hover {
    background: #2ea583;
}

.login-btn:active {
    box-shadow: 2px 2px 5px #34b792;
}

.no-account {
    text-align: center;
    margin-top: 30px;
}

.no-account label {
    font-family: "筑紫B丸ゴシック";
    text-align: center;
    padding: 5px 10px;
    height: fit-content;
    font-size: 15px;
}

/*フッター*/
footer {
    border-top: 1px solid #34b792;
    background-color: #FFFEF9;
}

.footer-contents {
    text-align: center;
}

.footer-contents li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 5px;
    list-style: none;
}

.footer-contents li+ li {
    border-left: 1px dotted #34b792;
}

.footer-wrapper p {
    font-size: 15px;
    color: gray;
    text-align: center;
}