{% extends 'quiz/base.html' %}
{% block content %}

<form action="{% url 'quiz:result' %}" method='post' >
    {% csrf_token %}
    {% for q  in questions%}
    <br>
    {{q.question}}
    <div class="form-group">
        <label for="question">{{q.questions}}</label>
      </div>
    <div class="form-check">
        <!--POST送信するとname=valueの形で返ってくる→request.POST.get(q.question)ではvalueの値を取得する-->
        <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1" value="{{q.op1}}" checked>
        <label class="form-check-label" for="gridRadios1">
            {{q.op1}}
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2" value="{{q.op2}}">
        <label class="form-check-label" for="gridRadios2">
            {{q.op2}}
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios3" value="{{q.op3}}">
        <label class="form-check-label" for="gridRadios3">
            {{q.op3}}
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios4" value="{{q.op4}}">
        <label class="form-check-label" for="gridRadios4">
            {{q.op4}}
        </label>
    </div>
{%endfor%}
<button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}