{% extends "base.html"}
{% load static %}
    {% block title %}Quiz{% endblock %}
    {% block css %}<link href="{% static 'css/quiz.css %}" rel="stylesheet">{% endblock %}
{% block content %}
<div class="top-wrapper">
  <div class="container" id="quiz-cotainer">
    <div class="quiz">
      <div class="question">
          <h2>デートの誘い方は？</h2>
      </div>
      <div class="illustration">
          <img src="../FrogImages/kaeruhome.png">
      </div>
      <div class="quiz-wrapper">
        <div class="box">
            <input type="radio" name="select1" id="option-1">
            <input type="radio" name="select1" id="option-2">
            <input type="radio" name="select1" id="option-3">
            <input type="radio" name="select1" id="option-4">
            <label for="option-1" class="option-1">
                <div class="dot"></div>
                <div class="text">「今度の日曜日に〇〇（話題のお店）で一緒にランチどう？」</div>
            </label>
            <label for="option-2" class="option-2">
                <div class="dot"></div>
                <div class="text">週末は空いてる？良かったらデートしよwwww</div>
            </label>
            <label for="option-3" class="option-3">
                <div class="dot"></div>
                <div class="text">〇〇チャン、お早う😃♥ ❗(^^)😚(^o^)🎵😃😘今日は、もう寝ちゃった、の、カナ💤🤑(＃￣З￣)😴🛌😪(^^;;<br>天気悪いと、気分も、よくない、よ、ね、(◎ ＿◎;)じゃあ、今日は、会社休んで、おいらと、デート✨️しよう❗(^^)😃💕😘🎵なんちゃって、🎵(^_^)😍(^o^)(^з<)😆😃☀ （笑）</div>
            </label>
            <label for="option-4" class="option-4">
                <div class="dot"></div>
                <div class="text">昨日行ったイタリアンのお店、本当に素敵だったんだ！お料理の一皿一皿がまるで芸術作品みたいで、口に入れるたびにまるで夢の中にいるような気分になったんだよ。<br>そこでね、君と一緒にその至高のランチタイムを過ごしたいって強く思ったんだ。今度、僕と一緒にその夢のような時間をシェアしてくれないかな？</div>
            </label>
        </div>
      </div>
      <div class="cq-btn-first">
        <button class="next-btn cq-btn">次の問題へ</button>
      </div>
      
    </div>
    <div class="quiz">
      <div class="question">
          <h2>デートの誘い方は？</h2>
      </div>
      <div class="illustration">
          <img src="../FrogImages/kaeruhome.png">
      </div>
      <div class="quiz-wrapper-2">
        <div class="box-2">
            <input type="radio" name="select2" id="option-5">
            <input type="radio" name="select2" id="option-6">
            <input type="radio" name="select2" id="option-7">
            <input type="radio" name="select2" id="option-8">
            <label for="option-5" class="option-5">
                <div class="dot-2"></div>
                <div class="text-2">「今度の日曜日に〇〇（話題のお店）で一緒にランチどう？」</div>
            </label>
            <label for="option-6" class="option-6">
                <div class="dot-2"></div>
                <div class="text-2">週末は空いてる？良かったらデートしよwwww</div>
            </label>
            <label for="option-7" class="option-7">
                <div class="dot-2"></div>
                <div class="text-2">〇〇チャン、お早う😃♥ ❗(^^)😚(^o^)🎵😃😘今日は、もう寝ちゃった、の、カナ💤🤑(＃￣З￣)😴🛌😪(^^;;<br>天気悪いと、気分も、よくない、よ、ね、(◎ ＿◎;)じゃあ、今日は、会社休んで、おいらと、デート✨️しよう❗(^^)😃💕😘🎵なんちゃって、🎵(^_^)😍(^o^)(^з<)😆😃☀ （笑）</div>
            </label>
            <label for="option-8" class="option-8">
                <div class="dot-2"></div>
                <div class="text-2">昨日行ったイタリアンのお店、本当に素敵だったんだ！お料理の一皿一皿がまるで芸術作品みたいで、口に入れるたびにまるで夢の中にいるような気分になったんだよ。<br>そこでね、君と一緒にその至高のランチタイムを過ごしたいって強く思ったんだ。今度、僕と一緒にその夢のような時間をシェアしてくれないかな？</div>
            </label>
        </div>
      </div>
      <div class="cq-btn-1">
        <button class="before-btn cq-btn">前の問題へ</button>
        <button class="next-btn cq-btn">次の問題へ</button>
      </div>        
    </div>
    <div class="quiz">
      <div class="question">
          <h2>デートの誘い方は？</h2>
      </div>
      <div class="illustration">
          <img src="../FrogImages/kaeruhome.png">
      </div>
      <div class="quiz-wrapper-3">
        <div class="box-3">
            <input type="radio" name="select3" id="option-9">
            <input type="radio" name="select3" id="option-10">
            <input type="radio" name="select3" id="option-11">
            <input type="radio" name="select3" id="option-12">
            <label for="option-9" class="option-9">
                <div class="dot-3"></div>
                <div class="text-3">「今度の日曜日に〇〇（話題のお店）で一緒にランチどう？」</div>
            </label>
            <label for="option-10" class="option-10">
                <div class="dot-3"></div>
                <div class="text-3">週末は空いてる？良かったらデートしよwwww</div>
            </label>
            <label for="option-11" class="option-11">
                <div class="dot-3"></div>
                <div class="text-3">〇〇チャン、お早う😃♥ ❗(^^)😚(^o^)🎵😃😘今日は、もう寝ちゃった、の、カナ💤🤑(＃￣З￣)😴🛌😪(^^;;<br>天気悪いと、気分も、よくない、よ、ね、(◎ ＿◎;)じゃあ、今日は、会社休んで、おいらと、デート✨️しよう❗(^^)😃💕😘🎵なんちゃって、🎵(^_^)😍(^o^)(^з<)😆😃☀ （笑）</div>
            </label>
            <label for="option-12" class="option-12">
                <div class="dot-3"></div>
                <div class="text-3">昨日行ったイタリアンのお店、本当に素敵だったんだ！お料理の一皿一皿がまるで芸術作品みたいで、口に入れるたびにまるで夢の中にいるような気分になったんだよ。<br>そこでね、君と一緒にその至高のランチタイムを過ごしたいって強く思ったんだ。今度、僕と一緒にその夢のような時間をシェアしてくれないかな？</div>
            </label>
        </div>
      </div>
      <div class="cq-btn-1">
        <button class="before-btn cq-btn">前の問題へ</button>
        <button class="next-btn cq-btn">次の問題へ</button>
      </div>        
    </div>
    <div class="quiz">
      <div class="question">
          <h2>デートの誘い方は？</h2>
      </div>
      <div class="illustration">
          <img src="../FrogImages/kaeruhome.png">
      </div>
      <div class="quiz-wrapper-4">
        <div class="box-4">
            <input type="radio" name="select4" id="option-13">
            <input type="radio" name="select4" id="option-14">
            <input type="radio" name="select4" id="option-15">
            <input type="radio" name="select4" id="option-16">
            <label for="option-13" class="option-13">
                <div class="dot-4"></div>
                <div class="text-4">「今度の日曜日に〇〇（話題のお店）で一緒にランチどう？」</div>
            </label>
            <label for="option-14" class="option-14">
                <div class="dot-4"></div>
                <div class="text-4">週末は空いてる？良かったらデートしよwwww</div>
            </label>
            <label for="option-15" class="option-15">
                <div class="dot-4"></div>
                <div class="text-4">〇〇チャン、お早う😃♥ ❗(^^)😚(^o^)🎵😃😘今日は、もう寝ちゃった、の、カナ💤🤑(＃￣З￣)😴🛌😪(^^;;<br>天気悪いと、気分も、よくない、よ、ね、(◎ ＿◎;)じゃあ、今日は、会社休んで、おいらと、デート✨️しよう❗(^^)😃💕😘🎵なんちゃって、🎵(^_^)😍(^o^)(^з<)😆😃☀ （笑）</div>
            </label>
            <label for="option-16" class="option-16">
                <div class="dot-4"></div>
                <div class="text-4">昨日行ったイタリアンのお店、本当に素敵だったんだ！お料理の一皿一皿がまるで芸術作品みたいで、口に入れるたびにまるで夢の中にいるような気分になったんだよ。<br>そこでね、君と一緒にその至高のランチタイムを過ごしたいって強く思ったんだ。今度、僕と一緒にその夢のような時間をシェアしてくれないかな？</div>
            </label>
        </div>
      </div>
      <div class="cq-btn-last">
        <button class="before-btn cq-btn">前の問題へ</button>
      </div>
      <div  class="submit-btn">
        <a href="#" style="text-decoration: none;">蛙化度計測&解説へ</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
  <script src="{% static 'javascripts/jquery.min.js' %}"></script>
  <script src="{% static 'javascripts/quiz.js %}"></script>
{% endblock %}